

img { height: 125px;
    width: 125px;
}

.img-crystals {
    color: blue;
}
h1, p     { 
    color: purple;

}
.jumbotron {
    margin: 30px;
    
    padding: 30px;
}

#img-container{
box-align: center;
margin-bottom: 15px;
padding-bottom: 30px;}

#main-container {
    background-image: url('../images/Crystal\ Hearts\ Wallpapers.jpg');
}